
  <div class="container">
    <div class="row ">
      <div class="col-sm-0 col-md-6 mx-auto mt-3">
        <% for (let i in posts){ %>
          <% if (i < posts.length/2){ %>
            <div class="card mb-3">
                <div class = "card-body">
                <h5 class="card-title"><%- posts[i].title %></h5>
                <h6 class = "card-subtitle text-muted text-right">By <%= posts[i].author %></h6>
                <p class ="card-text"><%= posts[i].article_top %></p>
                <a href= '/posts/<%= posts[i].id  %>' class="btn btn-sm btn-primary">見に行く</a>
                </div>
            </div>
            <% } %>
        <% } %>
      </div>
      <div class="col-sm-0 col-md-6 mx-auto mt-3">
        <% for (let i in posts){ %>
          <% if (i >= posts.length/2){ %>
            <div class="card mb-3">
                <div class = "card-body">
                <h5 class="card-title"><%- posts[i].title %></h5>
                <h6 class = "card-subtitle text-muted text-right">By <%= posts[i].author %></h6>
                <p class ="card-text"><%= posts[i].article_top %></p>
                <a href= '/posts/<%= posts[i].id  %>' class="btn btn-sm btn-primary">見に行く</a>
                </div>
            </div>
            <% } %>
        <% } %>
      </div>
    </div>
  </div>
