<div class="container">
    <div class="row ">
        <div class="col-sm-0 col-md-6 mx-auto mt-3">
            <% for (let i in draftlist){ %>
                <% if (i < draftlist.length/2){ %>
                    <div class="card2 mb-3 d-block">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">
                                <%= draftlist[i].title %>
                            </h5>
                            <h6 class="card-subtitle text-muted text-right mb-2">By <%= draftlist[i].user_name %>
                            </h6>
                            <p class="card-text text-truncate">
                                <%= draftlist[i].article %>
                            </p>
                            <a href='/posts/<%= draftlist[i].id  %>/edit' class="btn btn-sm btn-success">編集する</a>
			    <a href='/posts/<%= draftlist[i].id  %>' class="btn btn-sm btn-primary">見る</a>


                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>
        <div class="col-sm-0 col-md-6 mx-auto mt-3">
            <% for (let i in draftlist){ %>
                <% if (i>= draftlist.length/2){ %>
                    <div class="card2 mb-3 d-block">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">
                                <%= draftlist[i].title %>
                            </h5>
                            <h6 class="card-subtitle text-muted text-right mb-2">By <%= draftlist[i].user_name %>
                            </h6>
                            <p class="card-text text-truncate">
                                <%= draftlist[i].article %>
                            </p>
                            <a href='/posts/<%= draftlist[i].id  %>/edit' class="btn btn-sm btn-success">編集する</a>
			    <a href='/posts/<%= draftlist[i].id  %>' class="btn btn-sm btn-primary">見る</a>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>
    </div>
    <% if (auth) {%>
        <div class="row">
            <div class="col-6 mx-auto text-center">
                <a href="/posts/new" class="mt-3 btn btn-primary">Create new Article</a>
                <a href="/posts/yourdraft" class="mt-3 btn btn-success">Your draft</a>
            </div>
        </div>
        <% } %>
</div>
